/* Code Reference:
 [1] https://www.section.io/engineering-education/registration-form-react.js-firebase/
 */
 
body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #321f92, #1c3f62);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b089df, #c0dcf0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    /* height: 600px; */
   
}
h3 {
    text-align: center;
  }

.form-body{
    padding: 20px 10px;
    text-align: center;
}

.form-body > *{
    padding: 5px;
   
}

.form__label{
    width: 40%;
}

.form__input{
    width: 40%;
}

.footer{
    text-align: center;
    padding-top: 30px;
}